.form {
	width: 60%;
	margin: 50px auto 0;
	font-size: 0;
}

.form__label {
	display: inline-block;
	margin-bottom: 30px;
	box-sizing: border-box;
	width: calc((100% - 30px) / 2);
	position: relative;
}

.form__label:before {
	content: '';
	width: 50px;
	border-radius: 3px 0 0 3px;
	background-color: #3c4955;
	position: absolute;
	top: 0; bottom: 0;
	left: 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50%;
}

.form__label:after {
	content: '';
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-left-color: #3c4955;
	
	position: absolute;
	top: 17px;
	left: 50px;
}

.form__label:first-of-type {
	margin-right: 30px;
}

.form__label--full-width {
	width: 100%;
}

.form__label--name:before {
	content: '';
	background-image: url(../img/avatar.svg);
}

.form__label--email:before {
	content: '';
	background-image: url(../img/envelope.svg);
}

.form__label--message:before {
	content: '';
	background-image: url(../img/crayon.svg);
	background-position: center 15px;
}

.form__input {
	font-size: 16px;
	background-color: #f1f1f1;
	border: 2px solid #3c4955;
	border-radius: 3px;
	padding: 12px 12px 12px 75px;
	display: block;
	width: 100%;
	box-sizing: border-box;
}
textarea.form__input{
	resize: none;
}
.form__input:focus {
	outline: none;
	background-color: rgba(72,191,114, .2);
}