@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@font-face {
	font-family: BigJhon;
	src:url(../fonts/BigJohn.otf) format("opentype"),
		url(../fonts/bigjohn-webfont.woff) format("woff"),
		url(../fonts/bigjohn-webfont.woff2) format("woff2");
}
@font-face {
	font-family: SlimJoe;
	src:url(../fonts/SlimJoe.otf) format("opentype"),
		url(../fonts/slimjoe-webfont.woff) format("woff"),
		url(../fonts/slimjoe-webfont.woff2) format("woff2");
}

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html{
	font-size: 10px;
	height: 100%;
}
body{
	min-height: 100%;
	font-size: 1.6rem;
	font-family: 'Lato', sans-serif;
	color: #3c4955;
}


.section--bg{
	background-color: #3c4955;
}
.section--100{
	min-height: 100vh;
}